
.container img {
    width: 10%;
 }
 .menu .navbar-nav .nav-link {
    color: #c6d7e3;
 }
 .menu {
    background: #4a5363;
 }
 .navbar-nav .nav {
    text-decoration: none;
    padding-right: 10px;
    color: white;
 }
 .navbar-nav .nav:hover {
    color: #85d3de;
    transition: 0.5s;
 }


/**/
.header{
    grid-area: header;
}
.footer {
    grid-area: footer;  
    background-color: #252b37;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
  }
.footer_container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.main {
    grid-area: main;
    background-color: #85d3de;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5% 20%;
    border-radius: 1rem;
    border: 1px solid rgb(87, 87, 87);
    box-shadow: 1rem 1rem 20px rgb(87, 87, 87);
    overflow: hidden;
   
}

.contenedor{
    display: grid;
    grid-template: 
    "header" auto
    "main"  auto
    "footer" 100px/
      100%;

}

.contenedor__img{
   
   grid-area: img;
   position: relative;
   
   }
  

.contenedor__descripcion{
   grid-area: descripcion;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
  
}
.contenedor__servicio{
   display:grid;
  grid-template: 
  "img descripcion" 30rem/
  50% 50%;
}

.img-servicio{
   position: absolute;
   width:100%;
   height:100%;
   object-fit: cover;
   
}
.tittle__servicio{
   padding-top: 2rem ;
   background-color: #252B37;
   color: white;
   width: 100%;
   height:20%;
   font-size:1.5rem;
   text-align: center;
   

}
.text__servicio{
   
   
   padding: 2rem;
   text-align: justify;

}










/*BUTTON*/
button {
   width: 9em;
   height: 3em;
   border-radius: 30em;
   font-size: 15px;
   font-family: inherit;
   border: none;
   position: relative;
   overflow: hidden;
   z-index: 1;
   box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
   margin-bottom: 3rem;
   transition: 0.7s ease;
  }
  
  button::before {
   content: '';
   width: 0;
   height: 3em;
   border-radius: 30em;
   position: absolute;
   top: 0;
   left: 0;
   background-image: linear-gradient(to right, #9687CE 0%, #3300ec 100%);
   transition: .5s ease;
   display: block;
   z-index: -1;
  }
  
  button:hover::before {
   width: 9em;
   
  }

  button:hover{
   color: rgb(255, 255, 255);
  }


  @media (max-width:1350px) {
   body{
      font-size:15px;
   }
   .contenedor__servicio{
      display:grid;
     grid-template: 
     "descripcion" 30rem
     "img" 30rem/
     100%;
   }
     
  }