body {
  min-height:100vh;
}

.container img {
    width: 10%;
 }
 .menu .navbar-nav .nav-link {
    color: #c6d7e3;
 }
 .menu {
    background: #252b37;
 }
 .navbar-nav .nav {
    text-decoration: none;
    padding-right: 10px;
    color: white;
 }
 .navbar-nav .nav:hover {
    color: #85d3de;
    transition: 0.5s;
 }


 /* ESTILOS INICIO---- */
 .background-acceso{
    background-image: url("../view/img/background-acceso.jpg");
    background-size:cover;
   
}
.botons {
    width: 50%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
.card-header{
    background: #252b37;
    color: white;
}
/*.login {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 60px;
 }*/
 

/* PERFIL */
.centrar-img{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.img-perfil{
   border: 1px solid #252b37;
   border-radius: 50%;
   box-shadow:  5px 5px 9px #64676d ;
}